{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div id="pssdfgt">
      <div>
        <img
          src={
            "https://upload.wikimedia.org/wikipedia/commons/a/a5/Google_Chrome_icon_%28September_2014%29.svg"
          }
          title="logo"
        />
      </div>
      <div>
        {{ form_start(requestForm) }}
            <h1>Mot de passe oublié</h1>
                {{ form_row(requestForm.email) }}
                {# {/* <div className="result">
                    <p>Un nouveau mot de passe vient de vous être envoyé!</p>
                    <p>Vérifiez dès à présent votre boite mail.</p>
                </div> */} #}
        {{ form_end(requestForm) }}
        <div onclick="document.querySelector('form').submit();">
          <p>Envoyer</p>
        </div>
      </div>
    </div>
{% endblock %}
