{% extends 'base.html.twig' %}

{% block title %}Oui{% endblock %}

{% block body %}
<div>
    <div id="root">
    {# <div> #}
        {# <button id="togglePlay">Toggle Play</button> #}
        {# previous and next #}
        {# <button id="previous">Previous</button>
        <button id="next">Next</button>
        <button id="activatePlayer">activate</button> #}
    </div>
</div>
{% endblock %}
