{% extends 'base.html.twig' %}

{% block title %}Moze{% endblock %}

{% block body %}
<div>
    {# <div id="root"> #}
    <div>
        <script>
            {# Subscribe to updates of several Book resources and to all Review resources matching the given pattern #}
           const eventSource = new EventSource("{{ mercure('http://localhost/spotify')|escape('js') }}");
            eventSource.onmessage = event => {
                const data = JSON.parse(event.data);
                console.log(data);
            };
        </script>
    </div>
</div>
{% endblock %}
