#general {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#general > form {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 700;
    text-align: center;
    width: 400px;
    height: 400px;
}


#general > .generalLog {
    border-right: 1px solid;
    border-color: white;

}

#general > .generalLog > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#general > .generalLog > div > input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

#general > .generalLog > div > button  {
    border:  solid;
    border-color: grey;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}

#general > .generalReinit > div > input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

#general > .generalReinit > div > button  {
    border:  solid;
    border-color: grey;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}

#general > .generalReinit > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#general > .generalReinit > div > input {
    margin-top: 20px;
}
