html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

#App {
  display: flex;
  justify-content: flex-start;
  font-family: "Kaleko 105", Arial, Helvetica, sans-serif !important;
}
