input {
  &::placeholder {
    font-weight: bold;
    font-family: "Kaleko 105", Arial, Helvetica, sans-serif !important;
  }
}
#login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background-color: #332f2e;
  font-family: "Kaleko 105", Arial, Helvetica, sans-serif !important;
  > div {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    display: flex;
    align-items: center;
    &:first-child {
      > img {
        max-height: 30%;
        width: 100%;
      }
    }
    &:last-child {
      align-self: center;
      display: flex;
      flex-direction: column;
    }
    > form {
      > h1 {
        color: white;
        font-size: 2.5em;
        text-align: center;
      }
      > div {
        > input {
          background-color: transparent;
          outline: none;
          border: solid white 1px;
          margin: 0.5rem;
          font-size: 1.5em;
          padding: 0.5em;
          border-radius: 10px;
          color: white;
        }
        &:nth-child(3) {
          display: flex;
          flex-direction: column;
          > a {
            text-align: right;
            color: #47bdff;
            font-style: italic;
            margin-top: 0.5em;
            margin-bottom: 1em;
          }
        }
      }
    }
    > div {
      background-color: white;
      width: 35%;
      border-radius: 20px;
      margin-top: 1em;
      margin-bottom: 1em;
      > p {
        font-weight: bold;
        color: black;
        text-align: center;
      }
    }
    > p {
      font-style: italic;
      color: white;
      > a {
        color: #47bdff;
        margin-left: 0.5em;
      }
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #login {
    flex-direction: column;
    justify-content: normal;
    > div {
      width: 90%;
      &:first-child {
        height: 35%;
      }
    }
  }
}







.landing-header{

  background-image:
  linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(30, 30, 32, 100
        )
      ),
  url(../../img/background/Background.png);
  background-size: cover;
  min-height: 100vh;
  .nav-link{
    color: white!important;
    padding: 15px;
    font-weight: bold!important;
  }
  .Header-content{
    padding-top: 190px;
    h1{
      font-size: 60px;
      color: white;
      font-weight: 500;
      line-height: 60px;
      word-spacing: 16px;
    }
  }
}
.landing-Content{
  background: rgb(30,30,32);
  background: linear-gradient(180deg, rgba(30,30,32,1) 48%, rgba( 70,69,69,1) 98%);
  p{
    text-align: center;
    color: white;
    font-size: 44px;
    line-height: 60px;
    padding-bottom: 50px;
  }
  h2{
    color: white;
    font-size: 44px;
    line-height: 60px;
    padding-bottom: 50px;
  }
 .colExample{
    color: white;
    font-size: 27px;
    font-weight: 600;
  }
  .note{
    width: 112px;
  }
  .Pourquoi{
    padding-bottom: 10rem;
    overflow: hidden;
  }
  .beige{
    color: #FFDFA7;
  }
}

.landing-Footer{
  background: rgb(70,69,69);
  background: linear-gradient(180deg, rgba(70,69,69,1) 15%, rgba(122,118,118,1) 95%);

.footer-link{
  .footer-title{
    color: white;
      font-weight: 600;
  }
  li{
    list-style: none;
  }
  ul{
    padding-left: 0px;
  }
  a{
    color: white;
  }
}
}




$circle-w: 50px;
$circle-bg: #fff;
$arrow-bg:#55544F;
$body-bg: #9DDCDC;
$bezier: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$bezier-bounce: cubic-bezier(.87,-.41,.19,1.44);
$anim-timing: 3s;


.ico {
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 40vh;
  filter: url("#goo");
  .circle {
    background: $circle-bg;
    border-radius: 50%;
    display: inline-block;
    height: $circle-w;
    width: $circle-w;
    
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: 0%;
    
    &.circle-top {
      height: $circle-w / 3;
      width: $circle-w / 2.4;
      animation: blob-1-anim $anim-timing $bezier infinite;
      z-index: 0;
      top:24px;
    }
    &.circle-bottom {
      height: $circle-w / 3;
      width: $circle-w / 2.4;
      animation: blob-2-anim $anim-timing $bezier  infinite;
      z-index: 9;
      bottom:0px;
    }
    
  }
  
  
  .st-arrow{
    fill:$arrow-bg;
    animation: scrolly $anim-timing $bezier forwards infinite;
    perspective: 9000px;
    transform: translateZ(0);
    transform-origin: bottom;
  }
}

.svg {
  z-index:9;
  position:relative;
  width: 70px;
}
  
@keyframes blob-1-anim {
  0%{
    transform:translateX(-50%) translateY(0);
  }
  14%{
    transform:translateX(-50%) translateY(-8px);
  }
  24% {
    transform:translateX(-50%) translateY(0);
  }
  100% {
    transform:translateX(-50%) translateY(0);
  }
}

@keyframes blob-2-anim {
  0% {
    //transform: scale(1) translate(-50%,-150%);
    transform: scale(1) translate(-50%,10px);
  }
  30% {
    //transform: scale(1) translate(-50%,-50%);
    transform: scale(1) translate(-50%,10px);
  }
  70% {
    //transform: scale(1) translate(-50%,-50%);
    transform: scale(1) translate(-50%,10px);
    
  }
  95% {
    //transform: scale(1) translate(-50%,-50%);
    transform: scale(1) translate(-50%,26px);
    
    
  }
  100% {
    //transform: scaleX(1.5) translate(-50%,140%);
    transform: scale(1) translate(-50%,10px);
  }
}

@keyframes scrolly {
  0% {
    transform: translate3d(0,-150%,0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    transform: translate3d(0,0,0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    transform: translate3d(0,0,0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    transform: translate3d(0,50%,0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    transform: translate3d(0,50%,0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}